<!--

<paper-dialog modal id="login-dialog">
	<h2>Log in to Scheedule</h2>
	<paper-dialog-scrollable>
	Please login to use Scheedule.
	</paper-dialog-scrollable>
	<div class="buttons">
		<paper-button dialog-dismiss>Cancel</paper-button>
		<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
	</div>
</paper-dialog> -->

<div class="row">
	<div id="save" class="alert alert-info" role="alert">
		<div class="row alert-row">
			<strong>What should this schedule be called?</strong>
			<br>
			<div>
				<input id="dialog-scheedule-title" placeholder="Title" ng-model="mb.scheduleTitle"></input>
			</div>
			<span class="action-buttons pull-right">
				<button class="btn btn-danger" ng-click="mb.closeDialog('save')">Cancel</button>
				<button class="btn btn-default" ng-click="mb.saveSchedule()">Confirm</button>
			</span>
		</div>
	</div>

	<div id="saveSuccess" class="alert alert-success" role="alert">
		<div class="row alert-row">
			<strong>Saved Schedule!</strong>
		</div>
	</div>

	<div id="manage" class="alert alert-info" role="alert">
		<div class="row alert-row">
			<strong>Saved Schedules:</strong>
			<ul>
				<li ng-click="mb.selectSchedule($event)" ng-repeat="schedule in mb.loadedSchedules">
					{{ schedule.name }}
					<button ng-click="mb.deleteSchedule(schedule)" class="delete-icon">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>
					<button ng-click="mb.displaySchedule(schedule)" class="delete-icon">
						<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
					</button>
				</li>
			</ul>
			<span class="action-buttons pull-right">
				<button class="btn btn-danger" ng-click="mb.closeDialog('manage')">Cancel</button>
			</span>
		</div>
	</div>

	<div id="error" class="alert alert-danger" role="alert">
		<div class="row alert-row">
			<strong id="error-message">err msg</strong>
		</div>
	</div>

	<div class="col-md-3">
		<input label="Search Classes" class="form-control" placeholder="Department" ng-model="department"></input>
		<input label="Search Classes" class="form-control" placeholder="Course Number" ng-model="number"></input>
		<div ng-repeat="course in mb.courses | filter:{'shortName': department+' '+number} | limitTo: 8">
			<b>{{ course.shortName }} - {{ course.longName }}</b>
			<br>
			<button type="button"
				ng-repeat="section in course.sections"
				class="btn btn-default section-buttons"
				ng-click="mb.clickSection(section)"
				ng-mouseenter="mb.highlightSection(section)"
				ng-mouseleave="mb.unhighlightSection(section)"
				ng-class="{'selected': section.active}">
				{{ section.name }}
			</button>
			<br><br>
		</div>
	</div>
	<div class="col-md-9">
		<chartist id="chart" class="ct-chart ct-golden-section" chartist-data="mb.agenda.chartData" chartist-chart-options="mb.agenda.chartOptions" chartist-events="mb.agenda.chartEvents" chartist-chart-type="Line"></chartist>
		<div class="active-course-indicator" ng-repeat="course in mb.courses | ActiveCoursesFilter">
			<div disabled="disabled" class="clear-icon"
				ng-mouseenter="mb.deleteCourse(course,true)"
				ng-mouseleave="mb.undeleteCourse(course)"
				ng-click="mb.deleteCourse(course,false)">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</div>
			{{ course.shortName }}
		</div>
	</div>
</div>