/*#course-cards .card-content {
	width: 100%;
	padding: 8px;
}*/

/*#course-cards .container .card-content {
	width: 200px;
}*/

#course-cards paper-button {
	/*margin: 10px;
	padding: 5px;*/
}

#course-cards paper-card {
	font-size: 18px;
	margin-bottom: 15px;
	width: 100%;
}

#course-cards .selected {
	background-color: #36C;
	color: white;
}

.color-hover {
	fill-opacity: 0.2;
}

.agenda-color-0 {
	fill: #3983AA;
}

.agenda-color-1 {
	fill: #FAEF5E;
}

.agenda-color-2 {
	fill: #F28A57;
}

.agenda-color-3 {
	fill: #BA395D;
}

.agenda-color-4 {
	fill: #6B2971;
}

.agenda-color-5 {
	fill: #3DCDD0;
}

.agenda-color-6 {
	fill: #A9EED8;
}

.agenda-color-7 {
	fill: #E85150;
}

.agenda-color-hover {
	fill: #DDD;
}

@keyframes show {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes hide {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.agenda-fade-in {
	opacity: 1.0;
	animation: show 0.3s ease 1;
}

.agenda-fade-out {
	opacity: 0.0;
	animation: hide 0.3s ease 1;
}