.manual-body {
}

.manual-left {
    overflow-y: auto;
}

.manual-right {
}

.selected {
	background-color: #c6c8ca;
}

.manual-input {
}

.input-label {
    margin-bottom: 5px;
}

.manual-class {
    margin-top: 10px;
    padding: 6px 12px;
    border: 1px solid #ccc;
}

.class-header {
    border-bottom: 1px solid #ccc;
}

.class-header>i {
    cursor: pointer;
}

.class-sections {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.class-section-header {
    border-bottom: 1px solid #ccc;
}

.class-section:hover {
	background-color: #c6c8ca;
}

.row.alert-row {
	margin-right: 0px;
	margin-left: 0px;
}

.class-open {
    background-color: #ccffcc;
}

.class-closed {
    background-color: #ffcccc;
}

.animate-hide {
  transition: all linear 0.5s;
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.animate-hide.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

button.section-buttons {
	margin: 5px;
}

div.action-buttons {

}

div.active-course-indicator {
	display: inline-block;
	border-radius: 4px;
    border: 1px solid #adadad;
    padding: 6px 12px;
    margin: 5px;
}

div.clear-icon {
	display: inline;
}

.color-hover {
	fill-opacity: 0.2;
}

.agenda-color-0 {
	fill: #3983AA;
}

.agenda-color-1 {
	fill: #FAEF5E;
}

.agenda-color-2 {
	fill: #F28A57;
}

.agenda-color-3 {
	fill: #BA395D;
}

.agenda-color-4 {
	fill: #6B2971;
}

.agenda-color-5 {
	fill: #3DCDD0;
}

.agenda-color-6 {
	fill: #A9EED8;
}

.agenda-color-7 {
	fill: #E85150;
}

.agenda-color-hover {
	fill: #DDD;
}

@keyframes show {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes hide {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.agenda-fade-in {
	opacity: 1.0;
	animation: show 0.3s ease 1;
}

.agenda-fade-out {
	opacity: 0.0;
	animation: hide 0.3s ease 1;
}

#cal .axis text {
    font: 10px sans-serif;
}

#cal .axis path,
#cal .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#cal .x.axis path {
    display: none;
}

#cal .tick text {
    font-size: 12px;
}

#cal .y.axis path,
#cal .tick line {
    opacity: 0.2;
}
